numpy==2.2.6
pandas==2.3.2
torch==2.8.0
scikit-learn==1.7.1
joblib==1.5.2
fastapi==0.116.1
uvicorn==0.35.0
streamlit==1.49.0
matplotlib==3.10.5
paho-mqtt==2.1.0
shap==0.48.0
requests==2.32.5
pillow==11.3.0
typing-extensions==4.15.0